/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.float-right {
  float: right !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
